/* prompt-regular - latin_thai */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/prompt-v3-latin_thai-regular.eot'); /* IE9 Compat Modes */
  src: local('Prompt'), local('Prompt-Regular'),
       url('../fonts/prompt-v3-latin_thai-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/prompt-v3-latin_thai-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/prompt-v3-latin_thai-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/prompt-v3-latin_thai-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/prompt-v3-latin_thai-regular.svg#Prompt') format('svg'); /* Legacy iOS */
}
/* prompt-500 - latin_thai */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/prompt-v3-latin_thai-500.eot'); /* IE9 Compat Modes */
  src: local('Prompt Medium'), local('Prompt-Medium'),
       url('../fonts/prompt-v3-latin_thai-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/prompt-v3-latin_thai-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/prompt-v3-latin_thai-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/prompt-v3-latin_thai-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/prompt-v3-latin_thai-500.svg#Prompt') format('svg'); /* Legacy iOS */
}
/* prompt-700 - latin_thai */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/prompt-v3-latin_thai-700.eot'); /* IE9 Compat Modes */
  src: local('Prompt Bold'), local('Prompt-Bold'),
       url('../fonts/prompt-v3-latin_thai-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/prompt-v3-latin_thai-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/prompt-v3-latin_thai-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/prompt-v3-latin_thai-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/prompt-v3-latin_thai-700.svg#Prompt') format('svg'); /* Legacy iOS */
}