/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
 /* 0 width - change this with JavaScript */
    width: 270px; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    padding-bottom: 40px;
    background-color: #111;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch; /*mobile safari */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 0px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    transition: margin-right .5s;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }



  /* slide cart  */
  .slidecart{
    height: 100%; 
    position: absolute!important;
    width: 270px; 
    position: fixed !important;
    z-index: 9; 
    top: 0; 
    right: 0;
    background-color:#ffffff; 
    overflow-x: hidden;
    transition: 0.5s; 
  }