html {
  position: relative;
  min-height: 100%;
  line-height: 1.15;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  color: #23282c;
  background-color: #ffffff !important;
  font-family: 'Prompt', sans-serif !important;
  font-size: 16px;
}

.font-9 {
  font-size: 9px
}

.font-10 {
  font-size: 10px
}

.font-11 {
  font-size: 11px
}

.font-12 {
  font-size: 12px
}

.font-13 {
  font-size: 13px
}

.font-14 {
  font-size: 14px
}

.font-15 {
  font-size: 15px
}

.font-16 {
  font-size: 16px
}

.font-17 {
  font-size: 17px
}

.font-18 {
  font-size: 18px
}

.font-20 {
  font-size: 20px
}

.font-22 {
  font-size: 22px
}

.font-24 {
  font-size: 24px;
}

.font-26 {
  font-size: 26px
}

.font-32 {
  font-size: 32px
}

.font-56 {
  font-size: 56px
}

@media only screen and (min-width: 0px) and (max-width: 991px) {
  .font-res-12 {
    font-size: 12px !important;
  }
  .font-res-14 {
    font-size: 14px !important;
  }
  .font-res-16 {
    font-size: 16px !important;
  }
  .font-res-18 {
    font-size: 18px !important;
  }
  .font-res-20 {
    font-size: 20px !important;
    line-height: 20px;
  }
}

.weight-med {
  font-weight: 500;
}

.weight-bold {
  font-weight: 700;
}

.padding-t50 {
  padding-top: 50px
}

.padding-t40 {
  padding-top: 40px
}

.padding-t30 {
  padding-top: 30px
}

.borderAll {
  border: 1px solid #d4d4d4;
}

.borderBottom {
  border-bottom: 1px solid #d4d4d4;
}

.borderTop {
  border-top: 1px solid #d4d4d4;
}

.borderLeft {
  border-left: 1px solid #d4d4d4;
}

.borderRight {
  border-right: 1px solid #d4d4d4;
}

.cardBorderShadow {
  -webkit-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 8px;
}

.background-white {
  background-color: #ffffff;
}

.background-grey {
  background-color: #f3f3f3 !important;
}

.background-darkGrey {
  background-color: #4c4c4c;
}

.background-darkRed {
  background-color: #ee312f;
}

.background-lightRed {
  background-color: #F8F3F7;
}

.color-white {
  color: #ffffff;
}

.color-black {
  color: #2d2b2b;
}

.color-darkgrey {
  color: #414141;
}

.color-softgrey {
  color: #afafaf;
}

.color-red {
  color: #ee312f;
}

.color-green {
  color: #228B22;
}

a.none-style {
  cursor: pointer;
  text-decoration: none !important;
  color: black !important;
}

.click {
  cursor: pointer;
}

.form-input {
  display: block;
  width: 100%;
  height: calc(2em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 14px !important;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.btn-form {
  width: 100%;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #fa1721;
}

.btn-form-d {
  width: 100%;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: lightgray;
}

.pagination-focus {
  color: 'red';
  font-weight: bold;
  box-shadow: 0 0 0 0.15rem black;
}

a:focus, button:focus, input:focus, textarea:focus, .click:focus {
  outline: none !important;
}

input {
  line-height: normal;
  line-height: 32px\0/; /* for IE 8 */
}

/* quality */

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: 0;
  padding: 15px;
}

.number-input button:focus {
  outline: none;
}

.number-input button:before, .number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 0.8rem;
  height: 2px;
  background-color: #848484;
  transform: translate(-50%, -50%);
}

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tags p {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  position: relative;
  margin: 0 16px 8px 0;
  padding: 0 10px 0 12px;
  background: #ee312f;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 12px;
}

.tags p:before {
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #ee312f;
}

.tags p:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 1px;
  float: left;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);
}

.html-content img {
  max-width: 100%;
}

/* Owl Carousel */
.owl-carousel {
  overflow: hidden;
  z-index: 0 !important;
}

.owl-carousel .owl-nav {
  height: 47px;
  position: absolute;
  width: 100%;
  cursor: pointer;
  top: 100px !important;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  font-size: 30px;
  border: 1px solid #D3D3D3 !important;
  background-color: #ffffff !important;
  width: 30px;
  height: 70px;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.owl-carousel .owl-nav button.owl-prev {
  left: 0px;
}

.owl-carousel .owl-nav button.owl-next {
  right: 0px;
}

.owl-carousel .owl-nav button.owl-prev:hover {
  background-position: 0px -13px;
  background-color: transparent;
  color: black;
}

.owl-carousel .owl-nav button.owl-next:hover {
  background-position: -24px -53px;
  background-color: transparent;
  color: black;
}

.owl-dots {
  margin-top: 10px;
}

.owl-carousel .owl-dots .active span, .owl-carousel .owl-dots :hover span {
  background-color: #ED302F !important;
}

.owl-stage-outer {
  z-index: 9999;
}

.owl-nav button {
  z-index: 10000;
}
.owl-dots {
  z-index: 9999;
}

/* flashsale */
.owl-fleshsale .owl-nav button.owl-next, .owl-fleshsale .owl-nav button.owl-prev {
  background-color: #ffc000 !important;
  width: 30px;
  justify-content: center;
  align-items: center;
}
.owl-fleshsale .owl-nav button.owl-prev {
  left: -20px;
}
.owl-fleshsale .owl-nav button.owl-next {
  right: -20px;
}

/* mainBanner */
.mainBanner .owl-dots {
  bottom: 10px !important;
  left:25%;
  right:25%;
  position: absolute;
}
.mainBanner .owl-dots .owl-dot span {
  width: 14px;
  height: 14px;
}
.mainBanner .owl-dots .active span, .mainBanner .owl-dots :hover span {
  background-color: #ED302F;
}
@media only screen and (min-width: 0px) and (max-width: 426px) {
  .mainBanner .owl-dots{
    display: none;
  }
}

/* popularCategories */
#popularCategories {
  padding: 0px 50px;
}
#popularCategories .owl-nav {
  position: absolute;
  width: 100%;
  cursor: pointer;
  top: 10% !important;
  left: 0px;
}
#popularCategories .owl-item {
  text-align: center;
}
#popularCategories .item {
  float: none;
  display: inline-block;
}
#popularCategories .owl-nav .owl-next,
#popularCategories .owl-nav button.owl-prev {
  border: 0 !important;
}

/* popularCategoriesSM */
#popularCategoriesSM {
  padding: 0px 20px;
}
#popularCategoriesSM .owl-nav {
  position: absolute;
  width: 100%;
  cursor: pointer;
  top: 10% !important;
  left: 0px;
}
#popularCategoriesSM .owl-item {
  text-align: center;
}
#popularCategoriesSM .item {
  float: none;
  display: inline-block;
}
#popularCategoriesSM .owl-nav .owl-next,
#popularCategoriesSM .owl-nav button.owl-prev {
  border: 0 !important;
  background-color: transparent!important;
}


/* categoryBanner */
#categoryBanner .owl-dots {
  bottom: 10px !important;
  left:25%;
  right:25%;
  position: absolute;
}
@media only screen and (min-width: 0px) and (max-width: 426px) {
  #categoryBanner .owl-nav {
    position: absolute;
    top: 25px !important;
    margin: 0px;
  }
  #categoryBanner .owl-dots {
    bottom: 0px !important;
  }
  #categoryBanner .owl-nav .owl-next,
  #categoryBanner .owl-nav button.owl-prev {
    height: 40px;
  }
}
@media only screen and (min-width: 426px) and (max-width: 1023px) {
  #categoryBanner .owl-nav {
    margin-top: -60px !important;
  }
}
@media only screen and (min-width: 1024px) {
  #categoryBanner .owl-nav {
    margin-top: -10px !important;
  }
}

/* SubcategoryCarousel */
#subcategoryCarousel .owl-nav {
  position: absolute;
  width: 100%;
  cursor: pointer;
  top: 10% !important;
  left: 0px;
}
#subcategoryCarousel .owl-nav .owl-next,
#subcategoryCarousel .owl-nav button.owl-prev {
  border: 0 !important;
}

#subcategoryCarouselSM .owl-nav {
  position: absolute;
  width: 100%;
  cursor: pointer;
  top: 10% !important;
  left: 0px;
}
#subcategoryCarouselSM .owl-nav .owl-next,
#subcategoryCarouselSM .owl-nav button.owl-prev {
  border: 0 !important;
}

/* scrolling text auto */
#scrollAnnoucement {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);	
  transform:translateX(100%);
  transition: opacity 0.5s ease-out;
  animation-duration: 50s;
  /* Apply animation to this element */	
  -moz-animation: moveSlideshow 5s linear infinite;
  -webkit-animation: moveSlideshow 5s linear infinite;
  animation: moveSlideshow 5s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes moveSlideshow {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes moveSlideshow {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}
@keyframes moveSlideshow {
  0%   { 
  -moz-transform: translateX(100%); /* Firefox bug fix */
  -webkit-transform: translateX(100%); /* Firefox bug fix */
  transform: translateX(100%); 		
  }
  100% { 
  -moz-transform: translateX(-100%); /* Firefox bug fix */
  -webkit-transform: translateX(-100%); /* Firefox bug fix */
  transform: translateX(-100%); 
  }
}


/* Make it a marquee */
#marquee {
  position: absolute;
  min-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: moveSlideshow 30s linear infinite;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    transition: opacity 0.5s ease-out;
}

#marquee:hover {
  animation-play-state: paused
}

.grecaptcha-badge {
  display: none;
}

.password-icon-login{
  position: absolute;
  cursor: pointer;
  right: 18px;
  top: 125px;
  color: #a8a8a8;
}

.password-icon-regis{
  position: absolute;
  cursor: pointer;
  right: 18px;
  top: 43px;
  color: #a8a8a8;
}